@import "/src/sass/reset";
@import "./reuseble_section/header.scss";
@import "./reuseble_section/test_filter.scss";
@import "./reuseble_section/pagination.scss";
@import "./reuseble_section/session_details.scss";
@import "./unreusable/left_bar.scss";
@import "./unreusable/tests.scss";
@import "./unreusable/left_bar.scss";
.main-part{
    background-color: white;
    max-width: 320px;
    margin: 0 auto;
}
.left_bar{
    display: none;
}
@media screen and (min-width:768px) {
    .main-part{
        max-width: 768px;
    }
}
@media screen and (min-width:1440px) {
    .main-part{
        max-width: 940px;
    }    
    .left_bar{
        display: block;
        position:absolute;
        top: 0;
        right: 80px;
    }
}
